*.idea
*.class
*.txt
*.html
*.htm
out/production/soen6441_risk/META-INF/soen6441_risk.kotlin_module
out/test/soen6441_risk/META-INF/soen6441_risk.kotlin_module
soen6441_risk.iml
PlayersWorldDominationView.txt
PhaseView.txt

map/finalMap.map
CardsExchangeView.txt
doc/com/java/model/player/class-use/Player.html
doc/com/java/model/player/Player.html
*.html
doc/com/java/model/player/class-use/Player.html
doc/com/java/model/player/Player.html
